@use '../../styles/globalTypography.scss' as *;

.top__navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    background-color: var(--navbar-main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    user-select: none;
    z-index: 4;


    .flex1 {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        width: 75%;
        max-width: 100em;
        margin: 0 auto;
        .homeDecor {
            display: flex;
            align-items: center;
        }

        .actions__container {
            display: flex;
            gap: 35px;


            .actions{
                display: flex;
                gap: inherit;
                color: var(--main-txt-color);
            
                .instagram, .cart {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    cursor: pointer;

                    @media screen and (max-width:434px) {
                        align-items: flex-start;
                    }
                }
                img {
                    cursor: pointer;
                }
                            
                @media screen and (max-width: 814px) {
                    position: absolute;
                    top: 50px;
                    left: 0;
                    display: none;
                }
            
            }
        }




    }

    .flex2 .categories {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        width: 75%;
        max-width: 100em;
        margin: 0 auto;

        .category p {
            font-size: calc($fontSizeBig + 1) + px;
            font-weight: $fontWeightRegular;
            color: var(--main-txt-color);
            cursor: pointer;
        }

        .tabActive {
            border-bottom: 1px solid #F04F30;
        }

        @media screen and (max-width: 814px) {
            margin-top: 10px;
        }
        @media screen and (max-width:434px) {
            margin-top: 30px;
        }
    }
}

.burger {
    display: none;
    
    @media screen and (max-width: 814px) {
        display: block;
    }
}

.navFullHeight {
    height: 100vh;
    justify-content: flex-start;
}

// .show {
//     display: block;
// }



// .show{
//     border: 1px solid green;
//     opacity: 1;
// }