

.layoutContent {
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 60px;
    width: 75%;
    // max-width: 100em;

    @media screen and (max-width: 826px) {
        width: 100%;
    }
}